@page "/cancel"

<PageTitle>Order Cancel</PageTitle>

 <h1 class="text-2xl uppercase pb-2">Thank you</h1>
  <section class="border">
    <h2 class="text-base uppercase bg-zinc-100 px-12">Your order has been cancelled</h2>
    <div class="px-12 pt-2 pb-4">      
      <p>Please let us know how we can be of assistance</p>
    </div>
  </section>
